@page "/admin/books/edit/{id:long}"
@page "/admin/books/create"
@inherits OwningComponentBase<IStoreRepository>

<style>
    div.validation-message { color: rgb(220, 53, 69); font-weight: 500 }
</style>

<h3 class="bg-@ThemeColor text-white text-center p-1">@TitleText книги</h3>
<EditForm Model="Book" OnValidSubmit="SaveBook">
    <DataAnnotationsValidator />
    @if(Book.BookId != 0) {
        <div class="form-group">
            <label>ID</label>
            <input class="form-control" disabled value="@Book.BookId" />
        </div>
    }
    <div class="form-group">
        <label>ID автора</label>
        <ValidationMessage For="@(() => Book.AuthorId)" />
        <InputNumber class="form-control" @bind-Value="Book.AuthorId" />
    </div>
    <div class="form-group">
        <label>Название</label>
        <ValidationMessage For="@(() => Book.Title)" />
        <InputText class="form-control" @bind-Value="Book.Title" />
    </div>
    <div class="form-group">
        <label>Категория</label>
        <ValidationMessage For="@(() => Book.Category)" />
        <InputText class="form-control" @bind-Value="Book.Category" />
    </div>
    <div class="form-group">
        <label>Жанр</label>
        <ValidationMessage For="@(() => Book.Genre)" />
        <InputText class="form-control" @bind-Value="Book.Genre" />
    </div>
    <div class="form-group">
        <label>Описание</label>
        <ValidationMessage For="@(() => Book.Description)" />
        <InputText class="form-control" @bind-Value="Book.Description" />
    </div>
    <div class="form-group">
        <label>Цена</label>
        <ValidationMessage For="@(() => Book.Price)" />
        <InputNumber class="form-control" @bind-Value="Book.Price" />
    </div>
    <div class="form-group">
        <label>Год издания</label>
        <ValidationMessage For="@(() => Book.PublishingYear)" />
        <InputNumber class="form-control" @bind-Value="Book.PublishingYear" />
    </div>
    <div class="form-group">
        <label>Издательство</label>
        <ValidationMessage For="@(() => Book.Publishing)" />
        <InputText class="form-control" @bind-Value="Book.Publishing" />
    </div>
    <div class="form-group">
        <label>Количество страниц</label>
        <ValidationMessage For="@(() => Book.PageAmount)" />
        <InputNumber class="form-control" @bind-Value="Book.PageAmount" />
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-@ThemeColor">Сохранить</button>
        <NavLink class="btn btn-secondary" href="/admin/books">Отмена</NavLink>
    </div>
</EditForm>

@code {

    public IStoreRepository Repository => Service;

    [Inject]
    public NavigationManager? NavManager { get; set; }

    [Parameter]
    public ulong Id { get; set; }

    private Book Book { get; set; } = new();

    protected override void OnParametersSet() {
        if (Id != 0) {
            Book = Repository.Books.FirstOrDefault(b => b.BookId == Id) 
                ?? new Book();
        }
    }

    private void SaveBook() {
        if (Id == 0) {
            Repository.CreateBook(Book);
        } else {
            Repository.SaveBook(Book);
        }
        NavManager?.NavigateTo("/admin/books");
    }

    private string ThemeColor => Id == 0 ? "primary" : "warning";
    private string TitleText => Id == 0 ? "Создание" : "Редактирование";
}